[submodule "Proiecte/.cpp/Language"]
	path = Proiecte/.cpp/Language
	url = https://github.com/davinci-tech/Language
[submodule "Proiecte/.cpp/EduLang"]
	path = Proiecte/.cpp/EduLang
	url = https://github.com/davinci-tech/EduLang
